<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>

    <link rel="stylesheet" href="../../../css/login.css">
</head>

<body>
    <%- include('navbar')%>

    <section>
        <div class="container">
            <div class="center_right">
                <form action="/report/user/<%- pid%>" method="POST" class="login-form">
                    <h3>Report</h3>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Seller</label>
                        <input name="email" type="text" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" value="<%- product%>" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">message</label>
                        <textarea name="message" cols="10" rows="10" type="text" class="form-control" id="exampleInputPassword1"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary login-btn">Report</button>
                </form>
            </div>
        </div>
    </section>

    <%- include('footer')%>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../../scripts/checkLogin.js"></script>
</body>

</html>